.underline {
    display: inline-block;
    padding: 15px 20px;
    position: relative;
}

.underline:after {
    bottom: 0;
    content: "";
    display: block;
    height: 2px;
    left: 50%;
    position: absolute;
    background: #fff;
    transition: width 0.1s ease 0s, left 0.1s ease 0s;
    width: 0;
}

.underline:hover:after {
    width: 100%;
    left: 0;
}

.bg {
    animation: slide 3s ease-in-out infinite alternate;
    background-image: linear-gradient(-60deg, #0B141A 60%, #102641 60%);
    bottom: 0;
    left: -50%;
    opacity: .7;
    position: fixed;
    right: -50%;
    top: 0;
    z-index: -1;
}

.bg2 {
    animation-direction: alternate-reverse;
    animation-duration: 4s;
}

.bg3 {
    animation-duration: 5s;
}

@keyframes slide {
    0% {
        transform: translateX(-25%);
    }
    100% {
        transform: translateX(25%);
    }
}

.flash {
    animation-name: flash;
    animation-duration: 0.5s;
    animation-iteration-count: infinite;
}

@keyframes flash {
    0% {
        visibility: hidden;
    }
    50% {
        visibility: collapse;
    }
}

.titles {
    animation-name: titles;
    animation-duration: 1s;
    animation-timing-function: ease;
    animation-iteration-count: 1;
    animation-direction: alternate;
    position: relative;
}

@keyframes titles {
    0% {
        transform: translateY(100%);
        opacity: 0;
    }
    100% {
        transform: translateY(0%);
    }
}

.fade {
    animation-name: fade;
    animation-duration: 1s;
    animation-iteration-count: 1;
}

@keyframes fade {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}